 {
 :layers {
          }
 :simlayers {
            }
 :main [
        {
         :des "unix shortcuts"
         ; all shortcuts here don't clash with unix
         :rules [
                 [:!Th :delete_or_backspace] ;unix
                 [:!Tj :!Odelete_or_backspace]
                 [:!Tm :return_or_enter]
                 ]}
         {
         :des   "caps_lock to esc when pressed alone, to ctrl as modifier"
          :rules [
          [:caps_lock :left_control nil {:alone :escape}] ;nil is for conditional, i.e. :condi
          ]
         }
        ; how make key chord work with shift or command
        {:des   "key chords"
         :rules [
                 [[:j :k] :hyphen]
                 [[:d :f] :!Shyphen]
                 [[:h :j] :equal_sign]
                 [[:f :g] :!Sequal_sign]
                 [[:a :s] :open_bracket]
                 [[:l :semicolon] :close_bracket]
                 [[:s :d] :!S9]
                 [[:k :l] :!S0]
                 [[:a :d] :!Sopen_bracket]
                 [[:k :semicolon] :!Sclose_bracket]
                 [[:o :p] :backslash]
                 [[:i :o] :!Sbackslash]
                 ]}
        {
         :des "Custom layers - toggle by single press only"
         :rules [
                 [[:j :i] ["symbol-layer" 1]]
                 [[:e :f] ["symbol-layer" 0]]
                 [[:f :j] ["vi-layer" 1]]
                 [[:d :k] ["vi-layer" 0]]
                 ]
         }
        {:des "symbol-layer (also for mouse btw)"
         :rules [
                 :symbol-layer
                 [:##h :0]
                 [:##u :1]
                 [:##i :2]
                 [:##o :3]
                 [:##p :4]
                 [:##open_bracket :4]
                 [:##j :5]
                 [:##k :6]
                 [:##l :7]
                 [:##semicolon :8]
                 [:##quote :9]
                 [:##a :!S1]
                 [:##s :!S2]
                 [:##d :!S3]
                 [:##f :!S4]
                 [:##g :!S5]
                 [:##w :!S6]
                 [:##e :!S7]
                 [:##r :!S8]
                 [:##q :!Sgrave_accent_and_tilde]
                 [:##v :grave_accent_and_tilde]
                 ]
         }
        {:des "Vi Mode"
         ;maybe don't overdo this
         :rules [
                 :vi-layer
                [:##j :down_arrow]
                [:##k :up_arrow]
                [:##h :left_arrow]
                [:##l :right_arrow]
                [:##b :!Oleft_arrow]
                [:##w :!Oright_arrow]
                [:##e [:!Oright_arrow :right_arrow] ]
                ]
         }
        ;;
        ;; {:des   "Quit application by pressing command-q twice"
        ;;       :rules [[:e [:o ["mode-w" 0]] ["mode-w" 1]]
        ;;               [:e ["mode-w" 1] nil {:delayed {:invoked ["mode-w" 0] :held :s :canceled ["mode-w" 0]}}]]}
        {:des "hyper-mode - mouse"
         :rules [:symbol-layer
                 [:down_arrow {:mkey {:y 1536}}]
                 [:up_arrow {:mkey {:y -1536}}]
                 [:left_arrow {:mkey {:x -1536}}]
                 [:right_arrow {:mkey {:x 1536}}]
                 [:return_or_enter {:pkey :button1}]
                 [:!Creturn_or_enter {:pkey :button2}]]}

        ]
 ; the default value is 250
 :simlayer-threshold 300
}

; I can't seem to switch windows for terminal cmd + ` bcos cmd +   triggers something else
