 {
 :layers {
     ;; note: goku doesn't play well if we specify layer on right_option and remap right_option to right_command
     ;; this is especially for modifier keys
     :symbol-layer {:key :right_option }
     :symbol-layer-2 {:key :right_command }
          }
  :devices {
            :thinkpad [{:vendor_id 6127 :product_id 24647}]
            :logitech [{:vendor_id 1133 :product_id 49948}]
            :apple [{:vendor_id 1452 :product_id 34304}]
            }
 :tos {
       :turn_off_all_layers [
            {:set ["symbol-layer" 0]}
            {:set ["number-layer" 0] }
            {:set ["number-2-layer" 0] }
            {:set ["vi-normal-layer" 0] }
            {:set ["mouse-layer" 0] }
            {:set ["custom-1-layer" 0] }
            {:set ["custom-2-layer" 0] }
                        ]
       :turn_on_vim [
            {:set ["symbol-layer" 0]}
            {:set ["number-layer" 0] }
            {:set ["number-2-layer" 0] }
            {:set ["vi-normal-layer" 1] }
            {:set ["mouse-layer" 0] }
            {:set ["custom-1-layer" 0] }
            {:set ["custom-2-layer" 0] }
                     ]
       }
 :main [
        {
         :des "unix shortcuts"
         :rules [
                 [:!Th :delete_or_backspace]
                 [:!Tj :!Odelete_or_backspace]
                 [:!Tm :return_or_enter]
                 [:!Ts :!STtab] ;; for switching windows
                 [:!Tl :!Ttab] ;; for switching windows
                 ]}
         {
         :des   "caps_lock to esc when pressed alone, to ctrl as modifier"
          :rules [
          [:caps_lock :left_control nil {:alone :escape}] ;nil is for conditional, i.e. :condi
          ]
         }
        {
         :des "Switching window"
         :rules [
                 [:!Ccaps_lock :!Ctab]
                 ]}
        {:des   "key chords"
         :rules [
                 [[:j :k] :hyphen]
                 [[:d :f] :!Shyphen]
                 [[:h :j] :equal_sign]
                 [[:f :g] :!Sequal_sign]
                 [[:a :s] :open_bracket]
                 [[:l :semicolon] :close_bracket]
                 [[:s :d] :!S9]
                 [[:k :l] :!S0]
                 [[:a :d] :!Sopen_bracket]
                 [[:k :semicolon] :!Sclose_bracket]
                 [[:o :p] :backslash]
                 [[:i :o] :!Sbackslash]
                 [[:s :f] :tab]
                 [[:f :j] :return_or_enter]
                 [[:d :k] :return_or_enter]
                 ]}

    ;; !  | means mandatory
    ;; #  | means optional
    ;; C  | left_command
    ;; T  | left_control
    ;; O  | left_option
    ;; S  | left_shift
    ;; F  | fn
    ;; Q  | right_command
    ;; W  | right_control
    ;; E  | right_option
    ;; R  | right_shift
    ;; !! | mandatory command + control + optional + shift (hyper)
    ;; ## | optional any
        {:des "Remapping Alt Window(thinkpad)"
         :rules [
                 [:##left_option :left_command [:thinkpad]]
                 [:##left_command :left_option [:thinkpad] ]
                 ]
         }
        {
         :des "Custom layers - toggle by single press only"
         :rules [
                 [{:pkey :button2} ["vi-normal-layer" 0] :vi-normal-layer]
                 [{:pkey :button2} ["vi-normal-layer" 1]]
                 ;; [[:k :m] ["custom-1-layer" 0] :custom-1-layer]
                 ;; [[:k :m] ["custom-1-layer" 1] ]
                 ;; [[:f :v] ["custom-2-layer" 0] :custom-0-layer]
                 ;; [[:f :v] ["custom-2-layer" 1]]
                 ;; [[:w :f] ["mouse-layer" 0] :mouse-layer]
                 ;; [[:w :f] ["mouse-layer" 1]]
                 ]
         }
        {:des "symbol-layer (also for mouse btw)"
         :rules [
                 :symbol-layer
                 [:##a :!S1]
                 [:##s :!S2]
                 [:##d :!S3]
                 [:##f :!S4]
                 [:##g :!S5]
                 [:##w :!S6]
                 [:##e :!S7]
                 [:##r :!S8]
                 [:##q :!Sgrave_accent_and_tilde]
                 [:##v :grave_accent_and_tilde]

                 [:##m :0]
                 [:##j :1]
                 [:##k :2]
                 [:##l :3]
                 [:##semicolon :4]
                 [:##h :5]
                 [:##u :6]
                 [:##i :7]
                 [:##o :8]
                 [:##p :9]
                 ]
         }
        {:des "symbol-layer (also for mouse btw)"
         :rules [
                 :symbol-layer-2
                 [:##a :!S1]
                 [:##s :!S2]
                 [:##d :!S3]
                 [:##f :!S4]
                 [:##g :!S5]
                 [:##w :!S6]
                 [:##e :!S7]
                 [:##r :!S8]
                 [:##q :!Sgrave_accent_and_tilde]
                 [:##v :grave_accent_and_tilde]

                 [:##m :0]
                 [:##j :1]
                 [:##k :2]
                 [:##l :3]
                 [:##semicolon :4]
                 [:##h :5]
                 [:##u :6]
                 [:##i :7]
                 [:##o :8]
                 [:##p :9]
                 ]
         }
        {:des "number-layer"
         :rules [
                 :number-layer
                 [:##m :0]
                 [:##j :1]
                 [:##k :2]
                 [:##l :3]
                 [:##semicolon :4]
                 [:##h :5]
                 [:##u :6]
                 [:##i :7]
                 [:##o :8]
                 [:##p :9]
                 ]
         }
        {:des "Vi Mode (normal-mode)"
         ; don't overdo this!
         :rules [
                 :vi-normal-layer
                [:i ["vi-normal-layer" 0] :vi-normal-layer]
                [:j :down_arrow]
                [:k :up_arrow]
                [:h :left_arrow]
                [:l :right_arrow]
                [:b :!Oleft_arrow]
                [:w :!Oright_arrow]
                [:e [:!Oright_arrow :right_arrow] ]
                [:x :delete_forward ]
                [:g :home]
                [:!Sg :end]
                [[:d :w] :!Odelete_forward ]
                [[:d :b] :!Odelete_or_backspace]
                [:!Si :home] ;;gg
                [:!Sa :end] ;;Sg
                [:!Ri :home]
                [:!Ra :end]
                [:!Td :page_down]
                [:!Tu :page_up]
                [:o [:end :return_or_enter]] ;;newline
                [:!So [:home :return_or_enter :up_arrow]] ;;newline and up
                [:u :!Cz]
                [:s :!Cf]
                [:y :!Cc]
                [:!Tr :!C!Sz]
                [:!Sv [:!Cleft_arrow :!SCright_arrow]]
                ]
         }
        ;;
        ;; {:des   "Quit application by pressing command-q twice"
        ;;       :rules [[:e [:o ["mode-w" 0]] ["mode-w" 1]]
        ;;               [:e ["mode-w" 1] nil {:delayed {:invoked ["mode-w" 0] :held :s :canceled ["mode-w" 0]}}]]}
        ;; seems to have a lag so cant really use them like arrow keys. its weired
        {:des "mouse"
         :rules [:mouse-layer
                 [:k {:mkey {:y 2200}}]
                 [:i {:mkey {:y -2200}}]
                 [:j {:mkey {:x -2200}}]
                 [:l {:mkey {:x 2200}}]
                 [:spacebar {:pkey :button1}]
                 [:!Cspacebar {:pkey :button2}]]}

        ]
 ; default value = 250
 :simlayer-threshold 300
}

