 {
 :layers {
     ;; :symbol-layer {:key :m}
     ;; :number-layer {:key :s}
          }
 :simlayers {
            }
  :devices {
            :logitech [
                       {
                        :vendor_id 1133
                        :product_id 49948}
                    ]
            :apple {
                   :vendor_id 1452
                   :product_id 632
                    }

            }
 :main [
        {
         :des "unix shortcuts"
         ; all shortcuts here don't clash with unix
         :rules [
                 [:!Th :delete_or_backspace] ;unix
                 [:!Tj :!Odelete_or_backspace]
                 [:!Tm :return_or_enter]
                 ]}
         {
         :des   "caps_lock to esc when pressed alone, to ctrl as modifier"
          :rules [
          [:caps_lock :left_control nil {:alone :escape}] ;nil is for conditional, i.e. :condi
          ]
         }
        ; how make key chord work with shift or command
        {:des   "key chords"
         :rules [
                 [[:j :k] :hyphen]
                 [[:d :f] :!Shyphen]
                 [[:h :j] :equal_sign]
                 [[:f :g] :!Sequal_sign]
                 [[:a :s] :open_bracket]
                 [[:l :semicolon] :close_bracket]
                 [[:s :d] :!S9]
                 [[:k :l] :!S0]
                 [[:a :d] :!Sopen_bracket]
                 [[:k :semicolon] :!Sclose_bracket]
                 [[:o :p] :backslash]
                 [[:i :o] :!Sbackslash]
                 ]}

    ;; !  | means mandatory
    ;; #  | means optional
    ;; C  | left_command
    ;; T  | left_control
    ;; O  | left_option
    ;; S  | left_shift
    ;; F  | fn
    ;; Q  | right_command
    ;; W  | right_control
    ;; E  | right_option
    ;; R  | right_shift
    ;; !! | mandatory command + control + optional + shift (hyper)
    ;; ## | optional any
    ;; This should only be for when you use a keyboard. Can add the condition of the device.
        {:des "remapping alt with window key"
 :rules [
                 [:##left_option :left_command :logitech ]
                 [:##right_option :right_command :logitech]
                 [:##left_command :left_option :logitech]
                 [:##right_command :right_option :logitech]
                 ]
         }
        {
         :des "Custom layers - toggle by single press only"
         :rules [
                 [[:j :i] ["symbol-layer" 0] :symbol-layer :!vi-layer]
                 [[:j :i] ["symbol-layer" 1]]
                 [[:f :e] ["number-layer" 0] :number-layer :!vi-layer]
                 [[:f :e] ["number-layer" 1]]
                 [[:f :j] ["vi-layer" 0] :vi-layer]
                 [[:f :j] ["vi-layer" 1]]
                 [[:k :m] ["custom-1-layer" 0] :custom-1-layer]
                 [[:k :m] ["custom-1-layer" 1] ]
                 [[:f :v] ["custom-2-layer" 0] :custom-0-layer]
                 [[:f :v] ["custom-2-layer" 1]]
                 ]
         }
        {:des "symbol-layer (also for mouse btw)"
         :rules [
                 :symbol-layer
                 [:##a :!S1]
                 [:##s :!S2]
                 [:##d :!S3]
                 [:##f :!S4]
                 [:##g :!S5]
                 [:##w :!S6]
                 [:##e :!S7]
                 [:##r :!S8]
                 [:##q :!Sgrave_accent_and_tilde]
                 [:##v :grave_accent_and_tilde]
                 ]
         }
        {:des "number-layer (also for mouse btw)"
         :rules [
                 :number-layer
                 [:##h :0]
                 [:##u :1]
                 [:##i :2]
                 [:##o :3]
                 [:##p :4]
                 [:##open_bracket :4]
                 [:##j :5]
                 [:##k :6]
                 [:##l :7]
                 [:##semicolon :8]
                 [:##quote :9]
                 ]
         }
        {:des "Vi Mode"
         ;maybe don't overdo this
         :rules [
                 :vi-layer
                [:j :down_arrow]
                [:k :up_arrow]
                [:h :left_arrow]
                [:l :right_arrow]
                [:b :!Oleft_arrow]
                [:w :!Oright_arrow]
                [:e [:!Oright_arrow :right_arrow] ]
                [:x :delete_forward ]
                [[:d :w] :!Odelete_forward ]
                ]
         }
        ;;
        ;; {:des   "Quit application by pressing command-q twice"
        ;;       :rules [[:e [:o ["mode-w" 0]] ["mode-w" 1]]
        ;;               [:e ["mode-w" 1] nil {:delayed {:invoked ["mode-w" 0] :held :s :canceled ["mode-w" 0]}}]]}
        {:des "hyper-mode - mouse"
         :rules [:symbol-layer
                 [:down_arrow {:mkey {:y 2200}}]
                 [:up_arrow {:mkey {:y -2200}}]
                 [:left_arrow {:mkey {:x -2200}}]
                 [:right_arrow {:mkey {:x 2200}}]
                 [:return_or_enter {:pkey :button1}]
                 [:!Creturn_or_enter {:pkey :button2}]]}

        ]
 ; the default value is 250
 :simlayer-threshold 300
}

; I can't seem to switch windows for terminal cmd + ` bcos cmd +   triggers something else
